<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <label>Filter by status</label>
      <input type="text" [(ngModel)]="filteredStatus">
      <br>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <h2>App Status: {{ appStatus | async}}</h2>
      <hr>
      <select name="property" id="sortPropert" [(ngModel)]='property'>
        <option value="status">Status</option>
        <option value="name">Name</option>
        <option value="instanceType">Instance Type</option>
        <option value="started">Started</option>
      </select>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let server of servers | sort:property" [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status  }}
          </span>
          <strong>{{ server.name }}</strong> |
          {{ server.instanceType | uppercase | reverse }} |
          {{ server.started | date:'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
