<h1>SIGNUP</h1>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-t col-md-offset-2">
    <form (nSUmibt)="onSignup()" #signupForm="ngForm">
      <div class=form-group>
        <label for="email">Mail</label>
        <input type="email" name="email" ngModel id="email" class="form-control">
      </div>
      <div class=form-group>
        <label for="password">Password</label>
        <input type="password" name="password" ngModel id="password" class="form-control">
      </div>
      <button class="btn btn-primary" type="submit" (click)="onSignup()">Signup</button>
    </form>
  </div>
</div>
