
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipes></app-recipes>
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div>


<!-- <recipe-header></recipe-header>
<shopping-list>
    <shopping-list-items>
        <ingredient></ingredient>
    </shopping-list-items>
    <shopping-list-edit>
        <ingredient></ingredient>
    </shopping-list-edit>
</shopping-list>

<recipe-book>
    <recipe-list>
        <recipe-item></recipe-item>
    </recipe-list>
    <recipe-detail></recipe-detail>
</recipe-book> -->